@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu Class="mud-width-full h-100 d-flex flex-column justify-content-between" Color="Color.Primary" Margin="Margin.Normal" Bordered="true" Rounded="true">
    <div>

        <AuthorizeView Roles="Admin">
            <MudNavLink Href="/DashboardAdmin" Icon="@Icons.Material.Filled.Dashboard" Match="NavLinkMatch.All">Admin Dashboard</MudNavLink>
            <MudNavLink Href="/DashboardEmployee" Icon="@Icons.Material.Filled.Dashboard">Employee Dashboard</MudNavLink>
            <MudNavLink Href="/Employees" Icon="@Icons.Material.Filled.Person">Employees</MudNavLink>
            <MudNavLink Href="/Vineyards" Icon="@Icons.Material.Filled.Map">Vineyards</MudNavLink>
            <MudNavLink Href="/Machines" Icon="@Icons.Material.Filled.Settings">Machines</MudNavLink>
            <MudNavLink Href="/Finances" Icon="@Icons.Material.Filled.AttachMoney">Finances</MudNavLink>
            <MudNavLink Href="/Weinbereitung" Icon="@Icons.Material.Filled.AttachMoney">Weinbereitung</MudNavLink>

        </AuthorizeView>
        <AuthorizeView Roles="Employee">
            <MudNavLink Href="/DashboardEmployee" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
        </AuthorizeView>

        <AuthorizeView>
            <NotAuthorized>
                <MudNavLink Href="/Account/Register" Icon="@Icons.Material.Filled.Person3">Register</MudNavLink>
                <MudNavLink Href="/Account/Login" Icon="@Icons.Material.Filled.Login">Login</MudNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <AuthorizeView>
        <Authorized>
            <form action="Account/Logout" method="POST">
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                <MudButton class="mud-button-link" ButtonType="ButtonType.Submit" Color="Color.Inherit" Style="width: 100%; padding: 8px"><MudIcon Icon="@Icons.Material.Filled.Logout" Style="margin-right: 12px"/> Logout</MudButton>
            </form>
        </Authorized>
    </AuthorizeView>
</MudNavMenu>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}